body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Header */
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
@media (max-width: 768px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

/* Secciones */
section{
    background-color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
@media (max-width: 768px) {
    section {
        margin: 0;
    }
}

/* Footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}
@media (max-width: 768px) {
    footer {
        position: static;
    }   
}

/* Otros */
.texto-amarillo{
    color: yellow;
}

#css{
    font-weight: bold;
    font-style: italic;
}