body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
 
#carousel img {
    display: none;
}
 
#carousel img.active {
    display: block;
}
 
.contenedor{
    display: flex;
    align-items: center;
}
 
.img-contenedor {
    display: flex;
    align-items: center;
}
 
.img-contenedor img {
    width: 100%;
    max-height: 600px;
    margin: 0 10px;
}
 